body{
    background: linear-gradient(to right, rgb(182, 38, 173), rgb(224, 138, 224));
}
header{
    text-align: center;
}

/* BINGKAINYA */
.bagian-atas{
    display: flex;
    padding: 100px;
    justify-content: space-around;
}
.bagian-bawah{
    border-radius: 300px;
    padding: 100px;
    justify-content: space-around;
    background: linear-gradient(to bottom right, rgb(231, 103, 245), rgb(88, 123, 212));
    
}
.yang-diatas{
    background: linear-gradient(to right, rgb(94, 154, 243), rgb(37, 151, 208));
    border-radius: 30px;
    border: 0.05px solid; 
    border-color: rgb(94, 67, 231);
}


section{
    flex: 1;
}
article{
    padding: 10px;
}

/* YANG TEKS PENJELASAN */
.text-penjelasan{
    text-indent: 15px;
}

/* BAGIAN FORM */
form{
    padding: 10px;
    line-height: 1.5;
}

/* TULISAN HASIL */
.hasil{
    text-align: center;
}

/* BAGIAN TULISAN RUMUSNYA */
.data-bmi{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.bmi-rumus{
    line-height: 35px;
    text-align: center;
    background-color: rgb(86, 212, 117);
    border-radius: 30px;
    line-height: 2.3;
}

/* TABLE PALING BAWAH */
th{
    border: 2px solid;
    line-height: 1.5;
}
td{
    border: 2px solid;
}
.warna-warni0{
    background-color: rgb(233, 224, 231);
}
.warna-warni1{
    background-color: rgb(229, 229, 78);
}
.warna-warni2{
    background-color: rgb(49, 246, 121);
}
.warna-warni3{
    background-color: rgb(206, 170, 26);
}
.warna-warni4{
    background-color: rgb(238, 135, 1);
}

/* STYLE KOLOM ISIANNYA */
#beratInput{   
    border-radius: 10px;
    border: 3px solid;
    background: linear-gradient(to right, rgb(215, 236, 163), rgb(191, 244, 47));
    border-color: rgb(29, 85, 118); 
    line-height: 2;
}
#tinggiInput{
    border-radius: 10px;
    border: 3px solid;
    background: linear-gradient(to right, rgb(215, 236, 163), rgb(191, 244, 47));
    border-color: rgb(29, 85, 118); 
    line-height: 2;
}

/* BAGIAN TOMBOL */
.tombol-submit{
    padding: 8px;
    margin: 8px;
    background: linear-gradient(to right bottom, rgb(236, 170, 229), rgb(234, 121, 228));
    border-radius: 7px;
}
.tombol-reset{
    padding: 8px;
    margin: 8px;
    background: linear-gradient(to right bottom, rgb(236, 170, 229), rgb(234, 121, 228));
    border-radius: 7px;
}
.tombol-download{
    padding: 12px;
    margin: 8px;
    background: linear-gradient(to right bottom, rgb(47, 246, 86), rgb(56, 202, 143));
    border-radius: 7px;
}

/* BAGIAN DESKRIPTI DARI DATA YANG DIKASIH */
.kurang-berat{
    display: none;
}
.normal-aja{
    display: none;
}
.kelebihan-berat{
    display: none;
}
.kegemukan-obesitas{
    display: none;
}

/* BAGIAN RESULTNYA */
#result{
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(222, 251, 6), rgb(61, 202, 18));
    padding: none;
    margin: 20px;
}
